h1 {
    font-size: 24px;
    color: blue;
    font-style: italic;
  font-weight: bold;
  }
  
  h2{
font-size: 20px;    
color: #0000ff;
font-weight: bold;
}

h3{
font-size: 16px;
color: teal;
font-weight: bold;

}

p{
color: #4D4D4D;
}


.paragraaf {
   color: #ffffff;
   font-weight: bolder;
   
}



a{
color: #8A2BE2;
text-decoration: none;
}



header{
background-image: url(./img/retro-futuristic-background-game-vector-51822149.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}

header{

  width: 100vw;
height: 33vh;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

article{
  border: 2px solid red;
  
  border-radius: 15px;
border-left: solid 10px red;
}
