.logo{
    width: auto ;
    height:70px ;
    background-color: rgb(255, 94, 94);
    color: white;
   
}
 
body{
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
   
}
 
.tekst1{
    width: auto;
    height: 250px;
    background-color: rgb(255, 212, 41);
    font-weight: bold;
   
 
}
 
.tekst2{
    width: auto;
    height: 300px;
    background-color: rgb(255, 158, 11);
    font-weight: bold;
 
}
 
.tekst3{
    width: auto;
    height: 262px;
    background-color: rgb(42, 163, 42);
    font-weight: bold;

}

.tekst{
    position: relative;
    left: 2%;
    font-size: 25px;
}

.teksth1{
    position: relative;
    left: 2%;
    font-size: 30px;
    
}

